.wrapper{
    width: 960px;
    margin: 0 auto;
}
.text-center {
    align: center;
}

select{
    min-width: 200px;
}

.leftFilter{
   /* border:1px solid black; */
    width: 200px;
    float:left
}

.topFilter{
    float:right;
}

.state {

    stroke: #f4ecec;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap : round;
}


.county {

    stroke: #f4ecec;
    stroke-width: 0.6;
    stroke-linejoin: round;
    stroke-linecap : round;
}

.overlappingBoundaries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linejoin: round;
    stroke-linecap : round;
}

/* Style for Custom Tooltip */
div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 80px;                  
    height: 28px;                 
    padding: 10px;             
    font: 12px sans-serif;        
    background:#f4ecec;  
    border: 1px solid #222;      
    border-radius: 8px;           
    pointer-events: none;         
}

